@import "scssVariables.scss";

.about-wrapper {
  @include page-styles();
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: var(--wrapper-gap);
  padding: 8px 8px 24px;

  .title {
    font-size: 24px;
    font-family: var(--font-semibold);
  }

  .section {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--content-gap);
  }
}