@import "scssVariables.scss";

.book-reader-wrapper {
  height: 100%;
  position: relative;
  transition: 0.3s all;

  .scroll-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--wrapper-gap);
    @include scroll-styles();

    .book-content {
      transition: 0.3s all;

      section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;

        title {
          text-align: center;
          font-weight: 800;
        }

        p {
          text-indent: 24px;
        }
      }
    }

    .navigation-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--wrapper-gap);
      padding: 16px 0;

      button {
        @include outline-btn();
        color: inherit;

        &:hover {
          background-color: inherit;
        }

        &.Mui-disabled {
          color: inherit;
          background: inherit;
        }
      }
    }
  }

  .reader-header {
    width: 100%;
    background: var(--main-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 0 8px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--main-bg);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s all;
    opacity: 1;

    &.hidden {
      top: calc(0px - var(--header-height));
      // opacity: 0;
    }

    button {
      @include header-btn();
    }
  }

}

.tranlsation-modal {
  width: calc(100% - 32px);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: var(--content-gap);

  .empty-state {
    width: 200px;
    color: var(--second-text);
  }

  .translation-wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--wrapper-gap);
    max-height: 300px;
    overflow: auto;
    @include scroll-styles();

    .translation-item {
      display: flex;
      align-items: stretch;
      flex-direction: column;
      gap: var(--content-gap);
      min-height: fit-content;

      .word {
        font-size: 18px;
        font-family: var(--font-medium);
      }

      .translation {
        font-size: 14px;
      }
    }
  }
}

.settings-popover {
  .MuiPaper-root {
    background-color: var(--second-bg);
  }

  .settings-wrapper {
    max-height: calc(75vh - var(--header-height));
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
  }
}