@import "scssVariables.scss";

.book-reader-wrapper {
  height: 100%;
  position: relative;

  .scroll-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--wrapper-gap);
    @include scroll-styles();
    .book-content {
      section {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        title {
          text-align: center;
          font-weight: 800;
        }
        p {
          text-indent: 24px;
        }
      }
    }
    .navigation-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--wrapper-gap);
      padding: 16px 0;
      button {
        @include outline-btn();

      }
    }
  }

  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    min-width: 0;
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    transition: 0.3s all;
    opacity: 1;
    z-index: 50;
    &.hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.translation-wrapper {
  padding-top: var(--content-gap);
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: var(--wrapper-gap);
  .translation-item {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--content-gap);
    .word {
      font-size: 18px;
      font-family: var(--font-medium);
    }
    .translation {
      font-size: 14px;
    }
  }
}