@import "scssVariables.scss";

.settings-wrapper {
  @include page-styles();
  height: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: var(--wrapper-gap);
  padding: 8px 8px 24px;

  .section {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--content-gap);

    .section-title {
      font-size: 16px;
      font-family: var(--font-semibold);
    }

    .input-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--content-gap);
      font-size: 14px;
      position: relative;

      .label {
        font-size: 14px;
      }

      .styled-select-wrapper {
        width: 75px;

        &.wide {
          width: 125px;
        }
      }

      .MuiCheckbox-root {
        color: var(--main-text);
      }

      .color-input {
        width: 0px;
        height: 0px;
        position: absolute;
        z-index: -1;
        opacity: 0;
        top: 50%;
        right: 0;
      }

      .color-value {
        width: var(--input-height);
        height: var(--input-height);
        border-radius: var(--input-radius);
        border: 1px solid var(--border-color);
      }
    }

    .themes-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: var(--wrapper-gap);

      .theme-item {
        width: calc(100% / 6 - var(--wrapper-gap) / 6 * 5);
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $breakpoint-mobile) {
          width: calc(100% / 3 - var(--wrapper-gap) / 3 * 2);
        }

        .state-wrapper {
          flex: 1;
          padding: 8px;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: var(--content-gap);
          transition: 0.3s all;
          cursor: pointer;

          &.active,
          &:hover {
            background-color: var(--main-bg);
            border-radius: var(--button-radius);
          }
        }

        .preview {
          width: 100%;
          max-width: 64px;
          aspect-ratio: 1 / 1;
          border-radius: var(--button-radius);
          border: 1px solid var(--border-color);
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;

          @media (max-width: $breakpoint-mobile) {
            max-width: 32px;
          }
        }

        .label {
          @include text-overflow();
          font-size: 12px;
          text-align: center;
          font-family: var(--font-medium);
          flex: 1;
        }
      }
    }
  }

  .controls-wrapper {
    display: flex;
    gap: var(--content-gap);

    button {
      flex: 1;

      &.reset {
        @include outline-btn();
      }

      &.save {
        @include primary-btn();
      }
    }
  }
}