@import "scssVariables.scss";

.modal-wrapper {
  .dropzone-popover-content {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--wrapper-gap);
    width: calc(100% - 32px);
    max-width: 500px;
    overflow: auto !important;

    .title {
      font-size: 18px;
      line-height: 22px;
      font-family: var(--font-semibold);
      display: flex;
      align-items: center;
      justify-content: space-between;

      .close-modal-btn {
        @include outline-btn();
        padding: 0;
        border: none;
        width: 22px;
        height: 22px;
      }
    }

    .files-list {
      display: flex;
      align-items: stretch;
      flex-direction: column;

      .file-info-wrapper {
        display: flex;
        align-items: stretch;
        gap: var(--content-gap);
        padding: 8px 0;
        border-bottom: 1px solid var(--divider-color);

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
        }

        .info-item {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          flex: 1;
          gap: var(--items-gap);

          &.name {
            max-width: calc(75% - var(--items-gap) / 2);
          }

          &.size {
            max-width: calc(25% - var(--items-gap) / 2);
          }

          .item-label {
            @include field-label();
          }

          .item-value {
            @include text-overflow();
          }
        }
      }
    }

    .dropzone-wrapper {
      height: 120px;
      padding: 8px;
      color: var(--second-text);
      border: 1px dashed var(--border-color);
      display: flex;
      align-items: stretch;
      justify-content: center;
      transition: 0.3s all;
      border-radius: var(--button-radius);

      &:hover {
        cursor: pointer;
        border: 1px dashed var(--border-hover);
      }

      &>div {
        width: 100%;
      }

      .dropzone-label {
        width: 100%;
        height: 100%;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    .divider {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--second-text);
      font-size: 14px;

      div {
        width: 40px;
        text-align: center;
      }

      span {
        flex: 1;
        height: 1px;
        background-color: var(--second-text);
      }
    }

    .link-upload-wrapper {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: var(--content-gap)
    }

    .upload-btn {
      @include primary-btn();
      justify-content: center;
    }

    .error-text {
      font-size: 14px;
      color: var(--error-color);
    }
  }
}