@import "scssVariables.scss";

.modal-content {
  &.edit-book-modal {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--content-gap);
    width: calc(100% - 32px);
    max-width: 500px;

    .controls-wrapper {
      display: flex;
      align-items: stretch;
      gap: var(--content-gap);

      button {
        &.cancel {
          @include outline-btn();
          flex: 1;

          &:hover {
            border: 1px solid var(--border-hover);
          }
        }

        &.save {
          @include primary-btn();
          flex: 1;
        }
      }
    }
  }
}