@import "scssVariables.scss";

.books-wrapper {
  @include page-styles();
  display: flex;
  align-items: stretch;
  flex-direction: column;
  position: relative;
  gap: var(--content-gap);
  padding: var(--card-padding);

  .books-list {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: var(--items-gap);
    height: calc(100% - 56px - 8px);
    overflow: auto;
    @include scroll-styles();

    .book-item {
      height: 60px;
      min-height: 60px;
      display: flex;
      align-items: center;
      gap: var(--items-gap);
      padding: 0 4px 0 8px;
      transition: 0.3s all;
      background-color: var(--main-bg);
      border-radius: var(--card-radius);

      &:hover {
        cursor: pointer;
        background-color: var(--hover-bg);
      }

      .info-wrapper {
        flex: 1;
        height: 100%;
        position: relative;

        .overflow-wrapper {
          display: flex;
          align-items: stretch;
          flex-direction: column;
          justify-content: center;
          gap: var(--items-gap);
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;

          .name {
            @include text-overflow();
            font-size: 14px;
          }

          .properties-wrapper {
            display: flex;
            align-items: center;
            gap: var(--content-gap);
            overflow: auto;

            .item {
              width: fit-content;
              color: var(--second-text);
              font-size: 12px;
              white-space: nowrap;
            }
          }
        }
      }

      .menu-btn {
        min-width: 32px;
        padding: 0;
        color: var(--main-text);
        width: 32px;
        height: 32px;
      }
    }
  }

  .empty-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--second-text);
    height: 100%;
  }
}

.confirm-delete-modal {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: var(--content-gap);

  .controls-wrapper {
    display: flex;
    align-items: stretch;
    gap: var(--content-gap);

    button {
      &.cancel {
        @include outline-btn();

        &:hover {
          border: 1px solid var(--border-hover);
        }
      }

      &.delete {
        @include primary-btn();
        background: var(--error-color);

        &:hover {
          background: var(--error-color-hover);
        }
      }
    }
  }
}