$breakpoint-small-desktop: 1190px;
$breakpoint-tablet: 1060px;
$breakpoint-mobile: 767px;

@mixin field-label() {
  font-size: 12px;
  line-height: 14px;
  color: var(--second-text);
  margin-bottom: 4px;
  font-family: var(--font-medium);
  display: flex;
  align-items: center;
  gap: 2px;

  span {
    color: var(--primary-color);
  }

  .tooltip-box {
    width: 14px;
    height: 14px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@mixin text-overflow($width: 100%) {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin page-styles() {
  @include scroll-styles();
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  height: 100%;
  max-height: calc(100% - var(--header-height));
  overflow: auto;
}

@mixin scroll-styles($color: var(--border-color), $bgColor: transparent) {
  @media (min-width: $breakpoint-mobile) {
    &::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      position: absolute;
      background: $bgColor;
    }

    &::-webkit-scrollbar-thumb {
      background: $color;
      border-radius: 5px;
    }
  }
}

@mixin primary-btn() {
  min-height: var(--button-height);
  display: flex;
  padding: var(--button-padding);
  min-width: unset;
  font-size: 14px;
  font-family: var(--font-medium);
  color: var(--primary-inner-color);
  background: var(--primary-color);
  border-radius: var(--button-radius);
  letter-spacing: unset;
  text-transform: unset;
  transition: .3s all;
  cursor: pointer;
  line-height: unset;
  gap: var(--items-gap);

  &:hover {
    background: var(--primary-color-hover);
  }

  svg {
    display: block;
    width: 18px;
    height: 18px;
  }

  &.Mui-disabled {
    opacity: 0.7;
    background: var(--primary-color);
    color: var(--main-text-opo);
  }

  .MuiTouchRipple-root {
    display: none;
  }
}

@mixin outline-btn($color: var(--main-text)) {
  min-height: var(--button-height);
  display: flex;
  padding: var(--button-padding);
  min-width: unset;
  font-size: 14px;
  font-family: var(--font-medium);
  color: var(--main-text);
  border: 1px solid var(--border-color);
  background: transparent;
  border-radius: var(--button-radius);
  letter-spacing: unset;
  text-transform: unset;
  transition: .3s all;
  box-sizing: border-box;
  cursor: pointer;
  line-height: unset;
  letter-spacing: unset;
  gap: var(--items-gap);

  &:hover {
    border-color: var(--primary-color-hover);
  }

  svg {
    display: block;
    width: 18px;
    height: 18px;
  }

  .MuiTouchRipple-root {
    display: none;
  }

  &.Mui-disabled {
    opacity: 0.7;
    background: transparent;
    color: var(--main-text);
  }

  &.active {
    border: 1px solid var(--primary-color);
    background: var(--primary-color-bg);
    color: var(--primary-color);
  }
}

@mixin header-btn($color: var(--main-text)) {
  height: var(--button-height);
  width: var(--button-height);
  padding: 0;
  min-width: unset;
  color: var(--main-text);
  border: none;
  background: transparent;
  border-radius: var(--button-radius);
  transition: .3s all;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--hover-bg);
  }

  svg {
    display: block;
    width: 18px;
    height: 18px;
  }

  .MuiTouchRipple-root {
    display: none;
  }
}

@keyframes transform-animation {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(0, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}